/* CONTACT ME                               */
/*---------------------------------------------------------*/

* {
    box-sizing: border-box;
}
.contact-titlE{
    text-align: center;
    font-size: 27px;
    border-bottom: 1px solid black;

}
/*.contactMe hr{*/
/*    width: 300px;*/
/*    margin-left: 319px;*/
/*    margin-top: 0;*/
/*    margin-bottom: 0;*/

/*}*/


.contactMe {
    margin-top: 0;
    padding: 28px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: #97dffc;
    /*min-height: 443px;*/
    overflow: hidden;
    padding-bottom: 20px;
    border-radius: 8px;
    margin-left: 300px;
    width: 70%;
    height: 530px;
    font-size: 16px;

}
.contactMe:hover{
    box-shadow: 1px 8px 20px grey;
    -webkit-transition:  box-shadow .6s ease-in;
}

.formImg img{
    margin-top: 47px;
    height:auto;
    width: 425px;
    margin-left: -36px;
}
.formImg{
    width: 100%;
    display: inline-block;

}
.form {
    width: 100%;
    /*height: 300px;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 400px;
    overflow: hidden;

}

form {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #97dffc;
    border-radius: 20px;
    overflow: hidden;
}
form button {
    width: 300px;
    height: 35px;
    border: 0;
    border-radius: 5px;
    background-color: #001517;
    -webkit-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    transition: 0.5s linear;
    color: white;
    font-weight: bold;
    margin-top: 6%;
    font-size: 13px;
}
form button:hover {
    background-color: unset;
    border: 2px solid #e49504;
    -webkit-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    transition: 0.5s linear;
    color: black;
}
.formWord {
    height: 369px;
    padding-top: 2%;
    margin-left: 0;
    width: 100%;
    padding-left: 48px;
    overflow: hidden;

}
.formWord h2 {

    font-weight: bold;
    /*font-family: "Josefin Sans", sans-serif;*/
    margin-bottom: 4px;
}
.formWord div{
    display: inline-block;
    padding-bottom: 0;
}

.formWord input {
    width: 80%;
    height: 30px;
    margin-bottom: 2%;
    border: 0;
    margin-top: 1%;
    padding-left: 3%;
    background: #ffffff;
    -webkit-box-shadow: 0px 0px 48px 0px rgb(218, 218, 218);
    box-shadow: 0px 0px 48px 0px rgb(218, 218, 218);
    font-size: 14px;

}
.formWord textarea {
    width: 80%;
    /*margin-bottom: 2%;*/
    border: 0;
    margin-top: 2%;
    height: 50px;
    color: black;
    -webkit-box-shadow: 0px 0px 48px 0px rgb(218, 218, 218);
    box-shadow: 0px 0px 48px 0px rgb(218, 218, 218);
    padding-left: 3%;
    display: inline-block;
    font-size: 16px;
}


/*---------------------------------------------------------*/
/* CONTACT ME END */

@media(max-width: 360px){
    .contactMe{
        width:  auto;
        margin: 0;
    }
    .formImg{
        width: auto;
    }
    .form{
        width: auto;
    }
    form{
        width:96%;
    }
    form button {
        width: 100%;
        height: 20px;
    }

    .formWord {
        width: 20%;
        padding: 4%;
    }
    .formWord h2 {
        font-size: 28px;

    }
    .formWord input {
        width: 100px;
        height: 30px;

    }
    .formWord textarea {
        width: auto;
    }
}