.work{
    /*background-color: #13878128;*/
    /*margin: 50px 0;*/
    /*margin-left: 160px;*/
    /*width: 78.5em*/
    margin-top: 60px;
    background-color: white;
    margin: 30px 0px;
    padding: 20px;
    margin-left: 170px;
    width: 88%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}
.work:hover{
    box-shadow: 1px 8px 20px grey;
    -webkit-transition:  box-shadow .6s ease-in;
}

.work-exp{
    padding: 60px 0;
}

.work-exp h2{
    font-weight: bold;
    color: #1e1e2c
}

.work-exp hr{
    color: #138781;
    width: 400px;
    margin: 10px auto;
}

.vertical-timeline-element-title{
    color: #138781;
}

.vertical-timeline-element-subtitle{
    color: #f29a6a;
}

/*====Mobile===view===========*/
@media(max-width:600px){
    .work{
        padding: 0;
        margin: 0;
        width:auto;
    }
    .work-exp hr{
        width: 250px;
    }
    .vertical-timeline-element-work{
        width:auto;
        padding-right: 30px;
    }

}