.home-container {
    height: 330px;
    color: #0c0a3e;
    padding-left: 150px;

}

.home-content{
    margin-left: 300px;
    width: 50%;

}
.home-content h2 {
    padding: 5px;
    padding-top: 70px;
    /* margin-left: 150px; */
    font-family: Josefin Sans, sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 48px;

}
.home-content h1 {
    color: #0c0a3e;
    padding: 17px;


}

.home-buttons {
    margin-top: 20px;

}

.home-buttons .btn-hire {
    background-color: #00b4d8;
    color: #08171E;
    width: 160px;
}
.home-buttons .btn-hire:hover{
    background-color: #ffbf69;
    color: black;
    width: 200px;
    transition: 1s;
}


.home-buttons .btn-cv {
    background-color: #00b4d8;
    color: #08171E;
    margin-left: 15px;
    width: 160px;
}

.home-buttons .btn-cv:hover {
    /*opacity: 70%;*/
    background-color: #ffbf69;
    color: black;
    width: 200px;
    transition: 1s;
}

.theme-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: #97dffc;
    margin-top: 20px;
    text-align: center;
    position: fixed;
    right: 0;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 1;
}

.homeImg{
    background-color: red;
    display: flex;
    width: 100%;
}
.homeImg .style-0 img{
    width: 400px;
    height: 100px;
    justify-content: right;
    position: relative;
    z-index: 1;


}

/* =============== */
@media (max-width: 600px) {
    .home-container {
        padding: 0;
        margin: 0;
        margin-top: 50px;
    }
    .home-container h2 {
        font-size: 24px;
    }
    .home-container h1 {
        font-size: 24px;
    }
}
